[Unit]
Description=APDS-9960 Gesture UI Service (MQTT Publisher)

[Service]
Type=simple
ExecStart=/opt/apds-gesture-ui/venv/bin/python /opt/apds-gesture-ui/src/apds-gesture-ui-pub
WorkingDirectory=/opt/apds-gesture-ui/src/
Restart=always
RestartSec=30
